#mavenignore
*.class
**/target/**
*.jar
.mtj.tmp/
!.mvn/wrapper/*
*.war
*.ear
*.ctxt
*.rar
*.zip
*.tar
*.tar.gz
mvnw
mvnw.cmd
.mvn/

#eclipseignore
*.settings
*.project
*.classpath

#ideignore
/.vscode
/.idea
**/.idea
.vscode
.idea
*.ipr
*.iml
*.iws
.idea/*
/**/**.iml
workspace.xml

# log
/applog
*.log
*/*.log
*.log.gz
*.cache
*.diff
*.patch
*.tmp
${sys:LOG_FILE}
**/log4j2.xml
**/WORKER_NODE.xml
**/spring.factories

#systemignore
*.DS_Store
Thumbs.db

#pluginsignore
rebel.xml
application.pid

